.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.notes {
  color: #203562;
  font-size: 30px;
  font-weight: 600;
  line-height: 33.6px;
  padding: 37px;
}

.note {
  padding: 3px 25px 5px;
  background-color: #203562;
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 30px;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: 500;
  line-height: 33.6px;
}

.div1 {
  position: absolute;
  width: 100%; 
  max-width: 1150px;
  height: 350px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #f5f5f5;
  box-shadow: 2px 4px 16px 0px rgba(32, 53, 98, 0.47);
  margin-left: 10px; 
  margin-top: 30px;
  opacity: 0.8;
}

.wrapper {
  padding: 15px;
}

.form-control {
  border: none !important;
  background-color: #f5f5f5;
  color: #203562;
  font-weight: 500;
  font-size: 20px;
  width: 100%; 
  padding: 10px;
}

h3 {
  color: #203562;
  font-weight: 500;
}

.div2 {
  margin-top: 20px; 
  position: absolute;
  margin-left: 10px;
  margin-right: 10px; 
}

.mynote {
  margin-left: 10px; 
  margin-top: 20px; 
  position: absolute;
  color: #203562;
  font-weight: 600;
  font-size: 20px;
}

span {
  float: right;
}

.recent {
  margin-left: 10px; /* Adjusted for responsiveness */
  margin-top: 20px; /* Adjusted for responsiveness */
  position: absolute;
  color: #203562;
  font-weight: 600;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: static;
  }

  .div1 {
    margin-left: 0;
    width: 100%;
  }

  .div2,
  .mynote,
  .recent {
    margin-left: 0;
  }
}
